/.DS_Store
/.vscode
/Untitled-2.py
/__pycache__
/calculator.py
/class.py
/closure.py
/coding practice.py
/compare.py
/dictionaries.py
/fstrings.py
/functions.py
/grade.py
/hello.py
/house.py
/if statements
/lambda.py
/list.py
/loops.py
/mario.py
/meow.py
/modules.py
/parity.py
/recursion.py
/rps.py
/scope.py
/sql_practice
/sql_practice.session.sql
/try.py